<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-grid.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">

    <title>OsoConMigo V2 Monitor</title>
  </head>
  <body class="bg-secondary">
    <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
          <a class="nav-link" href="/">Home</a>
        </div>
        {% if current_user.is_authenticated %}
        <div class="navbar-nav">
          <a class="nav-link" href="{{ url_for('logout') }}"><span class="text-info">{{ current_user.username }}, </span>Logout</a>
        </div>
        {% endif %}
      </div>
    </nav>
    <div class="container">
      <div class="row justify-content-center title">
        <h1>OsoConMigo V2 Monitor</h1>
      </div> <!-- Row Div -->
    </div>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div> <!-- Container Div -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}" crossorigin="anonymous"></script>
  </body>
</html>
